/*
    ANIMATION SNIPPETS & UNIVERSAL PROPERTIES
*/

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1s
    both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.glow {
  -webkit-box-shadow:0px 0px 246px 0px rgba(255,255,255,0.9);
  -moz-box-shadow: 0px 0px 246px 0px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 246px 0px rgba(255,255,255,0.9);
}

/*
    WELCOMING PAGE
*/

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(
  135deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(185, 220, 255, 1) 50%,
  rgba(154, 206, 255, 1) 100%
  ) !important;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

#welcoming-btn {
  display: inline-block;
  transition: transform 0.3s ease;
}

#welcoming-btn:hover {
  transform: scale(1.05);
}

#welcome-footer ul li a {
  display: inline-block;
  transition: transform 0.3s ease;
}

#welcome-footer ul li a:hover {
  transform: scale(1.05);
}

/*
  AUTH PAGE
*/

#auth {
  background-color: whitesmoke;
  padding: 16px;
  border-radius: 16px;
  position: relative;
}

/*
  HOMEPAGE
*/

.img-container {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

.img-container img {
  border-radius: 24px;
  width: 100%;
  display: block;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0,0,0,0.2) 25%,
    rgba(0,0,0,0.6) 45%,
    black 65%
  );

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0,0,0,0.2) 25%,
    rgba(0,0,0,0.6) 45%,
    black 65%
  );
}

.fade-text {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);

  max-width: 35%;
  color: #111;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;

  z-index: 2;
}

.card-media {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.card-media img {
  width: 50%;
  flex-shrink: 0;
}

.card-media .card {
  display: flex;
  align-items: center;
  border-radius: 0;
}

.card-text p {
  text-align: justify;
}
